@import "tailwindcss";

/* O resto do seu CSS customizado abaixo */
body {
  background-color: #050608;
  color: white;
  margin: 0;
  font-family: sans-serif;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* ================================
 *  Background MusicaBR 🇧🇷
 = *=============================== */

.bg-brasil {

  background: linear-gradient(
    120deg,
    #009c3b,
    #00b347,
    #ffdf00,
    #009c3b
  );

  background-size: 300% 300%;

  animation: brasilGradient 18s ease infinite;

}

/* =========================
 *  Background MusicaBR
 = *======================== */

.bg-musica {

  background:
  radial-gradient(circle at 20% 20%, rgba(0,156,59,0.15), transparent 40%),
  radial-gradient(circle at 80% 80%, rgba(255,223,0,0.08), transparent 40%),
  #050608;

}


/* animação */

@keyframes brasilGradient {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}
